{#
# heraPlay - customized web player for customer Hera
#   version 0.25.2
#   date    2017-09-08
# Base template with flash messages(Jinja2)
#   FN20170529 creation
#   FN20170608 refactoring
#   FN20170613 jquery support
#   FN20170614 plyr support
#   FN20170615 notifications
#   FN20170619 custom version of bulma
#   FN20170620 static css and js instead of cdn
#   FN20170629 parsing error fixed
#   FN20170904 'None' strings to 'N/D'
#
#}

<!DOCTYPE html>
<html>
    <head>
        <title>ASC Audit WEBplay</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='jquery-ui.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='hpbulma.css') }}" />
        <link rel='stylesheet' href="{{ url_for('static', filename='audioplyr.css') }}">
        {% block head %}
        {% endblock %}
        {% if request.user_agent.browser == 'msie' %}
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        {% endif %}
    </head>
    <body>
        {% macro convNone(field) -%}
            {% if field is none %}
                N/D
            {% else %}
                {{ field }}
            {% endif %}
        {%- endmacro %}

        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="notification is-danger">
                        {{ message }}
                    </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% block body %}
        {% endblock %}
        <script src="{{ url_for('static', filename='jquery-1.12.4.min.js') }}"></script>
        <script src="{{ url_for('static', filename='jquery-ui.min.js') }}"></script>
        {% block extra_js %}
        {% endblock %}
    </body>
</html>