{#
# heraPlay - customized web player for customer Hera
#   version 0.25.2
#   date    2017-09-08
# Template audit (Jinja2)
#   FN20170525 creation
#   FN20170612 audit
#   FN20170613 jquery datepicker
#   FN20170616 pagination
#   FN20170619 is-info to is-primary
#   FN20170623 fix button display and navigation user info
#   FN20170829 animated icons, pagination, no footer in table
#
#}

{% extends "_layout.html" %}

{% block body %}
<section class="hero">
    <div class="hero-head">
        <header class="nav">
            <div class="container">
                <div class="nav-left">
                    <div class="nav-item">
                        <img src="{{ url_for('static', filename='ASC_Logo_RBG_200px_width.png') }}" alt="ASC logo">
                    </div>
                    <div class="nav-item">
                        <p class="title">Audit AccessLog</p>
                    </div>
                </div>
                <span class="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <div class="nav-right nav-menu">
                    <p class="nav-item">benvenuto,&nbsp;<strong>{{ user }}</strong></p>
                    <span class="nav-item">
                        <a class="button is-primary" href="{{ url_for('logout') }}">
                            <span class="icon"><i class="fa fa-sign-out"></i></span>
                            <span>Logout</span>
                        </a>
                    </span>
                    <span class="nav-item">
                        <a id="button-search" class="button is-primary" href="{{ url_for('search') }}">
                            <span class="icon"><i id="button-search-icon" class="fa fa-search" aria-hidden="true"></i></span>
                            <span>Ricerca</span>
                        </a>
                  </span>
                </div>
            </div>
        </header>
    </div>
    <div class="hero-body">
        <form method="post">
            <div class="container">
                <div class="field has-addons">
                    <p class="control is-medium">{{ form.fromdate }}</p>
                    <p class="control is-medium">{{ form.todate }}</p>
                    <p class="control is-medium">
                        <button id="button-find" class="button is-primary" type="submit">
                            <span class="icon"><i id="button-find-icon" class="fa fa-search" aria-hidden="true"></i></span>
                            <span>Trova</span>
                        </button>
                    </p>
                </div>
            </div>
        </form>
    </div>
</section>

<!-- search results -->
{% if pages %}
<section class="container is-fluid">
    <nav class="pagination">
        <ul class="pagination-list">
            <a class="pagination-link" {% if page == 1 %} disabled {% else %} href="{{ url_for('audit') }}?page={{ page-1 }}" {% endif %}>
                <span class="icon"><i class="fa fa-angle-double-left"></i></span>
            </a>
            {% for i in range(1, pages+1) %}
            <li>
                {% if i == 1 and i != page %}
                    <a class="pagination-link" href="{{ url_for('audit') }}?page={{ i }}">{{ i }}</a>
                {% elif i == pages and i != page %}
                    <a class="pagination-link" href="{{ url_for('audit') }}?page={{ pages }}">{{ pages }}</a>
                {% elif i == page %}
                    <a class="pagination-link is-current" href="{{ url_for('audit') }}?page={{ page }}">{{ i }}</a
                {% elif (page -5) <= i <= (page +5) %}
                    <a class="pagination-link" href="{{ url_for('audit') }}?page={{ i }}">{{ i }}</a>
                {% elif i == (page -6) or i == (page +6) %}
                    <span class="pagination-ellipsis">&hellip;</span>
                {% endif %}
            </li>
            {% endfor %}
            <a class="pagination-link" {% if page == pages %} disabled {% else %} href="{{ url_for('audit') }}?page={{ page+1 }}" {% endif %}>
                <span class="icon"><i class="fa fa-angle-double-right"></i></span>
            </a>

        </ul>
    </nav>
</section>
<section class="container is-fluid">
    <table class="table is-striped is-narrow">
        <thead>
            <tr>
                <th>Timestamp</th>
                <th>Tipologia</th>
                <th>Messaggio</th>
            </tr>
        </thead>
        <tbody>
        {% for auditlog in results %}
            {% if auditlog.page == page %}
            <tr>
                <td>{{ auditlog.date }}</td>
                <td>{{ auditlog.subject }}</td>
                <td>{{ auditlog.message }}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</section>
{% endif %}
{% endblock %}

{% block extra_js %}

<script>
    $( function() {
        $("#fromdate").datepicker({
            dateFormat: "yy-mm-dd"
        });
        $("#todate").datepicker({
            dateFormat: "yy-mm-dd"
        });
    } );
</script>

<script>
$(function(){
    $('#button-find').on('click', function(event) {
        if($('#button-find-icon').hasClass('fa-search')) {
            $('#button-find-icon').addClass('fa-cog fa-spin fa-3x fa-fw').removeClass('fa-search');
        }
    });
});

$(function(){
    $('#button-search').on('click', function(event) {
        if($('#button-search-icon').hasClass('fa-search')) {
            $('#button-search-icon').addClass('fa-cog fa-spin fa-3x fa-fw').removeClass('fa-search');
        }
    });
});


</script>


{% endblock %}