{% extends "_layout.html" %}

{% block body %}
<section class="hero">
    <div class="hero-head">
        <header class="nav">
            <div class="container">
                <div class="nav-left">
                    <div class="nav-item">
                        <img src="{{ url_for('static', filename='ASC_Logo_RBG_200px_width.png') }}" alt="ASC logo">
                    </div>
                    <div class="nav-item">
                        <p class="title">Link Replay</p>
                    </div>
                </div>
                <span class="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <div class="nav-right nav-menu">
                    <p class="nav-item">benvenuto,&nbsp;<strong>{{ user }}</strong></p>
                    <span class="nav-item">
                        <a class="button is-primary" href="{{ url_for('logout') }}">
                            <span class="icon"><i class="fa fa-sign-out"></i></span>
                            <span>Logout</span>
                        </a>
                    </span>
                </div>
            </div>
        </header>
    </div>
    <div class="hero-body">
        {% for conv in results %}
            <section class="section">
                <div class="columns">
                    <div class="column notification is-info">
                        <audio src="{{ url_for('static', filename=conv.url) }}" controls></audio>
                        </p>
                    </div>
                </div>
                <div class="columns is-grey">
                    <div class="column is-offset-1">
                        <p><strong>ConnId</strong></p>
                    </div>
                    <div class="column">
                        {{ conv.connId}}
                    </div>
                </div>
                <div class="columns">
                    <div class="column  is-offset-1">
                        <p><strong>Data inizio</strong></p>
                    </div>
                    <div class="column">
                        {{ conv.starttime}}
                    </div>
                </div>
                <div class="columns is-grey">
                    <div class="column is-offset-1">
                        <p><strong>Data fine</strong></p>
                    </div>
                    <div class="column">
                        {{ conv.endtime}}
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-offset-1">
                        <p><strong>Durata</strong></p>
                    </div>
                    <div class="column">
                        {{conv.durata}}
                    </div>
                </div>
                <div class="columns is-grey">
                    <div class="column is-offset-1">
                        <p><strong>Agente</strong></p>
                    </div>
                    <div class="column">
                        {{ conv.agentId}}
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-offset-1">
                        <p><strong>DN</strong></p>
                    </div>
                    <div class="column">
                        {{ conv.thisDn}}
                    </div>
                </div>
                <div class="columns is-grey">
                    <div class="column is-offset-1">
                        <p><strong>Numero di telefono in uscita</strong></p>
                    </div>
                    <div class="column">
                        {{ conv.dnEsterno}}
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-offset-1">
                        <p><strong>Place</strong></p>
                    </div>
                    <div class="column">
                        {{ conv.place}}
                    </div>
                </div>
                <div class="columns is-grey">
                    <div class="column is-offset-1">
                        <p><strong>DNIS</strong></p>
                    </div>
                    <div class="column">
                        {{ conv.dnis}}
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-offset-1">
                        <p><strong>Servizio</strong></p>
                    </div>
                    <div class="column">
                        {{ conv.servizio}}
                    </div>
                </div>
                <div class="columns is-grey">
                    <div class="column is-offset-1">
                        <p><strong>Struttura</strong></p>
                    </div>
                    <div class="column">
                        {{ conv.struttura}}
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-offset-1">
                        <p><strong>Esigenza</strong></p>
                    </div>
                    <div class="column">
                        {{ conv.esigenza}}
                    </div>
                </div>
                <div class="columns">
                    <div class="column is-offset-1">
                        <p><strong>Motivo registrazione</strong></p>
                    </div>
                    <div class="column">
                        {{ conv.motivo_registrazione}}
                    </div>
                </div>
            </section>
        {% endfor %}
    </div>
</section>


<!-- modal section for hide confirmation -->
{% if calltohide %}
    <div {% if not confirmed %} class="modal" {% else %} class="modal is-active"{% endif %}>
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="media-content">
                    <nav class="level">
                        <p>Nascondere la chiamata selezionata?<br>(Nota: l'operazione non è reversibile)</p>
                        <a class="button is-primary" href="{{ url_for('search') }}?page={{ page }}&hide={{ calltohide }}&confirmed=1">
                            <span class="icon"><i class="fa fa-check"></i></span>
                            <span>Conferma</span>
                        </a>
                        <a class="button is-primary" href="{{ url_for('search') }}?page={{ page }}">
                            <span class="icon"><i class="fa fa-ban"></i></span>
                            <span>Annulla</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<!-- search results -->
{% if pages %}


{% endif %}
{% endblock %}

{% block extra_js %}

<script src="{{ url_for('static', filename='plyr.js') }}"></script>
<script src="{{ url_for('static', filename='audioplyr.js') }}"></script>

<script>

    // Handling events
    $('.button').on('click', function(event) {
        loopindex = this.id.split('-')[1]
        if($('#playicon-' + loopindex).hasClass('fa-play')) {
            $('#playicon-' + loopindex).addClass('fa-cog fa-spin fa-3x fa-fw').removeClass('fa-play');
        }
    });


    $('#button-find').on('click', function(event) {
        if($('#button-find-icon').hasClass('fa-search')) {
            $('#button-find-icon').addClass('fa-cog fa-spin fa-3x fa-fw').removeClass('fa-search');
        }
    });

</script>
{% endblock %}