{#
# heraPlay - customized web player for customer Hera
#   version 0.25.2
#   date    2017-09-08
# Template login (Jinja2)
#   FN20170525 creation
#   FN20170526 wtforms
#   FN20170529 update with template extension
#   FN20170508 refactoring
#   FN20170512 styling woth Bulma
#   FN20170615 browser info, login validation messages
#   FN20170619 is-info to is-primary
#   FN20170623 fix button display
#   FN20170829 animated icons
#
#}

{% extends "_layout.html" %}
{% block body %}

<!-- validation messages -->
<section class="container is-fluid">
    <div class="hero-body is-medium">
        <div class="columns is-vcentered">
            <div class="column is-narrow">
                <p><img src="{{ url_for('static', filename='ASC_Logo_RBG_200px_width.png') }}" alt="ASC logo"></p>
            </div>
            <div class="column is-narrow">
                <p class="title">Audit WEBplay</p>
            </div>
            <div class="column is-one-third is-right">
                <form method="post">
                    <div class="container">
                        <div class="field has-addons">
                            <p class="control is-medium">
                                {{ form.username }}
                            </p>
                            <p class="control is-medium">
                                {{ form.password }}
                            </p>
                            <p class="control is-medium">
                                <button id="button-login" class="button is-primary" type="submit">
                                    <span class="icon"><i id="button-login-icon" class="fa fa-sign-in" aria-hidden="true"></i></span>
                                    <span>Login</span>
                                </button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% if browser %}
        <div class="hero-footer">
            <p>Detected browser version: {{ browser }}</p>
        </div>
    {% endif %}
</section>
{% endblock %}

{% block extra_js %}
<script>

$(function(){
    $('#button-login').on('click', function(event) {
        if($('#button-login-icon').hasClass('fa-sign-in')) {
            $('#button-login-icon').addClass('fa-cog fa-spin fa-3x fa-fw').removeClass('fa-sign-in');
        }
    });
});
</script>
{% endblock %}