{#
# heraPlay - customized web player for customer Hera
#   version 0.25.2
#   date    2017-09-08
# Template search (Jinja2)
#   FN20170525 creation
#   FN20170529 update with template extension
#   FN20170531 basic styling, search form
#   FN20170607 restyling including search results
#   FN20170608 complete refactoring using Bulma
#   FN20170609 added play
#   FN20170613 added hide
#   FN20170614 restyling, player, selection
#   FN20170616 pagination
#   FN20170619 is-info to is-primary, play timeout management
#   FN20170620 selection on hide, static css and js instead of cdn, loading plyr only when needed
#   FN20170623 fix button display and navigation user info, styling confirmation
#   FN20170628 pagination icons
#   FN20170711 duration
#   FN20170714 multiclick avoided
#   FN20170718 search combos
#   FN20170719 bux fixing JS and id in table
#   FN20170829 pagination revisited, animated icons, no footer in table
#   FN20170904 'None' strings to 'N/D'
#   AI20171120 url_for refactoring
#
#}


{% extends "_layout.html" %}

{% block body %}
<section class="hero">
    <div class="hero-head">
        <header class="nav">
            <div class="container">
                <div class="nav-left">
                    <div class="nav-item">
                        <img src="{{ url_for('static', filename='ASC_Logo_RBG_200px_width.png') }}" alt="ASC logo">
                    </div>
                    <div class="nav-item">
                        <p class="title">Audit WEBplay</p>
                    </div>
                </div>
                <span class="nav-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                <div class="nav-right nav-menu">
                    <p class="nav-item">benvenuto,&nbsp;<strong>{{ user }}</strong></p>
                    <span class="nav-item">
                        <a class="button is-primary" href="{{ url_for('logout') }}">
                            <span class="icon"><i class="fa fa-sign-out"></i></span>
                            <span>Logout</span>
                        </a>
                    </span>
                    <span class="nav-item">
                        <a class="button is-primary" href="{{ url_for('audit') }}">
                            <span class="icon"><i class="fa fa-file-text-o" aria-hidden="true"></i></span>
                            <span>Log Accessi</span>
                        </a>
                  </span>
                </div>
            </div>
        </header>
    </div>
    <div class="hero-body">
        <form method="post">
            <div class="container">
                <div class="field has-addons">
                    <p class="control is-medium"><span class="select">{{ form.servizio }}</span></p>
                    <p class="control is-medium"><span class="select">{{ form.esigenza }}</span></p>
                    <p class="control is-medium"><span class="select">{{ form.motivo_registrazione}}</span></p>
                    {% if show_phone_field %}<p class="control is-medium">{{ form.telefono }}</p>{% endif %}
                    <p class="control is-medium"><span class="select">{{ form.outsourcer }}</span></p>
                    <p class="control is-medium"><span class="select">{{ form.direzione }}</span></p>
                    <p class="control is-medium">{{ form.duratamin }}</p>
                    <p class="control is-medium">{{ form.duratamax }}</p>
                    <p class="control is-medium">
                        <button id="button-find" class="button is-primary" type="submit">
                            <span class="icon"><i id="button-find-icon" class="fa fa-search" aria-hidden="true"></i></span>
                            <span>Trova</span>
                        </button>
                    </p>
                </div>
            </div>
        </form>
    </div>
</section>


<!-- modal section for hide confirmation -->
{% if calltohide %}
    <div {% if not confirmed %} class="modal" {% else %} class="modal is-active"{% endif %}>
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
                <div class="media-content">
                    <nav class="level">
                        <p>Nascondere la chiamata selezionata?<br>(Nota: l'operazione non è reversibile)</p>
                        <a class="button is-primary" href="{{ url_for('search') }}?page={{ page }}&hide={{ calltohide }}&confirmed=1">
                            <span class="icon"><i class="fa fa-check"></i></span>
                            <span>Conferma</span>
                        </a>
                        <a class="button is-primary" href="{{ url_for('search') }}?page={{ page }}">
                            <span class="icon"><i class="fa fa-ban"></i></span>
                            <span>Annulla</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<!-- search results -->
{% if pages %}
<section class="container is-fluid">
    <nav class="pagination">
        <ul class="pagination-list">
            <a class="pagination-link" {% if page == 1 %} disabled {% else %} href="{{ url_for('search') }}?page={{ page-1 }}" {% endif %}>
                <span class="icon"><i class="fa fa-angle-double-left"></i></span>
            </a>
            {% for i in range(1, pages+1) %}
            <li>
                {% if i == 1 and i != page %}
                    <a class="pagination-link" href="{{ url_for('search') }}?page={{ i }}">{{ i }}</a>
                {% elif i == pages and i != page %}
                    <a class="pagination-link" href="{{ url_for('search') }}?page={{ pages }}">{{ pages }}</a>
                {% elif i == page %}
                    <a class="pagination-link is-current" href="{{ url_for('search') }}?page={{ page }}">{{ i }}</a>
                {% elif (page -5) <= i <= (page +5) %}
                    <a class="pagination-link" href="{{ url_for('search') }}?page={{ i }}">{{ i }}</a>
                {% elif i == (page -6) or i == (page +6) %}
                    <span class="pagination-ellipsis">&hellip;</span>
                {% endif %}
            </li>
            {% endfor %}
            <a class="pagination-link" {% if page == pages %} disabled {% else %} href="{{ url_for('search') }}?page={{ page+1 }}" {% endif %}>
                <span class="icon"><i class="fa fa-angle-double-right"></i></span>
            </a>
        </ul>
    </nav>
</section>
<section class="container is-fluid">
    <table id="results" class="table is-striped is-narrow is-selected">
        <thead>
            <tr>
                <th>Servizio</th>
                <th>Esigenza</th>
                <th>Motivo registrazione</th>
                {% if show_phone_field %}<th>{{ show_phone_field }}Telefono</th>{% endif %}
                <th>Outsourcer</th>
                <th>Direzione</th>
                <th>Durata</th>
                <th>Nascondi</th>
                <th width="350px">Play</th>
                <th>Ultimo riascolto</th>
            </tr>
        </thead>
        <tbody>
        {% for conv in results %}
            {% if conv.page == page %}
            <tr {% if playcall == conv.callid %} class="is-selected" {% endif %} {% if calltohide == conv.callid  %} class="is-selected" {% endif %}>
                <td class="show-info" name="{{ conv.callid }}">{{ convNone(conv.servizio) }}</td>
                <td class="show-info" name="{{ conv.callid }}">{{ convNone(conv.esigenza) }}</td>
                <td class="show-info" name="{{ conv.callid }}">{{ convNone(conv.motivo_registrazione) }}</td>
                {% if show_phone_field %}<td class="show-info" name="{{ conv.callid }}">{{ convNone(conv.telefono) }}</td>{% endif %}
                <td class="show-info" name="{{ conv.callid }}">{{ conv.outsourcer }}</td>
                <td class="show-info" name="{{ conv.callid }}">{{ conv.direzione }}</td>
                <td class="show-info" name="{{ conv.callid }}">{{ conv.durata }}</td>
                <td class="hide-call">
                    <a class="button" href="{{ url_for('search') }}?page={{ page }}&hide={{ conv.callid }}" title="Nascondi">
                        <span class="icon" style="color:black;"><i class="fa fa-times"></i></span>
                    </a>
                </td>
                <td class="play-call">
                    {% if playcall == conv.callid  %}
                        {% if url %}
                            <audio src="{{ url }}" controls></audio>
                            <script src="{{ url_for('static', filename='plyr.js') }}"></script>
                            <script src="{{ url_for('static', filename='audioplyr.js') }}"></script>
                        {% else %}
                            <a id="button-{{ loop.index }}" class="button" href="{{ url_for('search') }}?page={{ page }}&play={{ conv.callid }}" title="Play">
                                <span class="icon" style="color:black;"><i id="playicon-{{ loop.index }}" class="fa fa-play"></i></span>
                            </a>
                            <strong>Recupero chiamata non terminato</strong>
                        {% endif %}
                    {% elif conv.durata > "00:00:10" %}
                        <a id="button-{{ loop.index }}" class="button" href="{{ url_for('search') }}?page={{ page }}&play={{ conv.callid }}" title="Play">
                            <span class="icon" style="color:black;"><i id="playicon-{{ loop.index }}" class="fa fa-play"></i></span>
                        </a>
                    {% else %}
                        <strong>Riascolto non possibile: durata troppo breve</strong>
                    {% endif %}
                </td>
                <td id="last_{{ conv.callid }}">{% if conv.last_played_at %}{{ conv.last_played_at }}{% endif %}</td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
</section>

{% endif %}
{% endblock %}

{% block extra_js %}

<script>

    // Handling events
    $('.button').on('click', function(event) {
        loopindex = this.id.split('-')[1]
        if($('#playicon-' + loopindex).hasClass('fa-play')) {
            $('#playicon-' + loopindex).addClass('fa-cog fa-spin fa-3x fa-fw').removeClass('fa-play');
        }
    });


    $('#button-find').on('click', function(event) {
        if($('#button-find-icon').hasClass('fa-search')) {
            $('#button-find-icon').addClass('fa-cog fa-spin fa-3x fa-fw').removeClass('fa-search');
        }
    });

</script>
{% endblock %}